/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

$light: #525252;

// Navigation element colors
$footer-bg: #181818;
$navbar-bg: #303030;
$sidebar-bg: #303030;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;

code {
    color: #26619c !important;
  }

/* Style external links */
a[href^="http"]:not([href="https://github.com/IgnaLeiva/plottingR"]) {
    color: #636161 !important;  /* Text color */
    background-color: #F5F5F5;   /* Background color */
    padding: 2px 5px 2px 5px;         /* Add some padding top , right, bottom, left*/
    border-radius: 5px;       /* Optional: rounded corners */
    text-decoration: none;    /* Remove underline */
  }
  
  /* Hover effect */
  a[href^="http"]:not([href="https://github.com/IgnaLeiva/plottingR"]):hover {
    background-color: #26619c;    /* Change background on hover */
    color: white !important;  /* Keep text white */
    text-decoration: underline; /* Add underline */
  }