/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #004a6f;
    border: 2px solid #004a6f;
    color: white;
    text-align: center;
    font: 15px Arial, sans-serif;
    font-weight: bold;
}


.numberCircleSmall {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 3px;
    background: #004a6f;
    border: 2px solid #004a6f;
    color: white;
    text-align: center;
    font: 15px Arial, sans-serif;
    font-weight: bold;
}

code {
    color: #26619c !important;
  }

/* Style external links */
a[href^="http"]:not([href="https://github.com/IgnaLeiva/plottingR"]) {
    color: #636161 !important;  /* Text color */
    background-color: #F5F5F5;   /* Background color */
    padding: 2px 5px 2px 5px;         /* Add some padding top , right, bottom, left*/
    border-radius: 5px;       /* Optional: rounded corners */
    text-decoration: none;    /* Remove underline */
  }
  
  /* Hover effect */
  a[href^="http"]:not([href="https://github.com/IgnaLeiva/plottingR"]):hover {
    background-color: #26619c;    /* Change background on hover */
    color: white !important;  /* Keep text white */
    text-decoration: underline; /* Add underline */
  }